{% extends 'PichetCoreBundle::adminLayout.html.twig' %}
{#{% extends '::base.html.twig' %}#}

{% block content %}
        <button class="btn btn-danger">Send Mail</button>
        <div>
                Nombre d’ouverture email: {{ nbMailQuery }}
        </div>
        <div>
                Nombre de clique sur le lien dans l’email: {{ nbParticipe }}
        </div>
        <div>
                Nombre de remplissage des informations personnelles:    {{ nbInfoPersonnelle }}
        </div>
        <div>
                Nombre de remplissage des informations sensibles de l’entreprise:    {{ nbInfoEntreprise }}
        </div>



{% endblock %}
