{% extends 'PichetCoreBundle::layout.html.twig' %}
{#{% extends '::base.html.twig' %}#}

{% block content %}
    <div class="container">
        <div class="raw">
            <div class="col-xs-12 .col-md-4  btn btn-primary">
                <div class="titre">Grande enquête interne sur la mobilité</div>
            </div>
        </div>
        <h4>Send Mail</h4>

    </div>
{% endblock %}
