{% extends 'PichetCoreBundle::layout.html.twig' %}
{#{% extends '::base.html.twig' %}#}

{% block content %}
    {% image '@PichetCoreBundle/Resources/public/imgs/gaumontcine.png' %}
    <img src="{{ asset_url }}" alt="" />
    {% endimage %}
    {% image '@PichetCoreBundle/Resources/public/imgs/gaumontcine.png' %}
    <img src="{{ asset_url }}" alt="" />
    {% endimage %}
    <div class="end">
        <button class="btn btn-lg col-md-12 btn-primary">Cliquez sur le bouton pour télécharger vos places</button>
    </div>

{% endblock %}