{% extends 'PichetCoreBundle::layout.html.twig' %}
{#{% extends '::base.html.twig' %}#}

{% block content %}
<div class="well">
    <div class="col-md-12 step">
        <div class="titre">Grande enquête interne sur la mobilité</div>
    </div>
    <button class="btn btn-primary">Cliquez sur le bouton pour télécharger vos places</button>
</div>
{% endblock %}